/* Pull in Sindrus' modern-normalize */
@import "/node_modules/modern-normalize/modern-normalize.css";

/* Register our custom font family and tell the browser where to find it. */
/* TODO: replace this with the proper font when you buy it */
@font-face {
	font-family: "Berkeley Mono Trial";
	src: url("/fonts/BerkeleyMonoTrial-Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

:root {
	/* Site-wide */
	--offblack: #211;
	--offwhite: #f9f9f9;

	/* JD block styling */
	--jd-bg-colour: #450502;
	--jd-highlight-colour: #db170e;
}

/* https://css-tricks.com/html-vs-body-in-css/ */

a {
	color: inherit;
	text-decoration: inherit;
}

/* Override modern-normalize */
code,
kbd,
samp,
pre {
	font-family: Berkeley Mono Trial, ui-monospace, SFMono-Regular, Menlo, Monaco,
		Consolas, Liberation Mono, Courier New, monospace;
	font-size: 1em;
}

hr {
	border: 1px solid var(--jd-bg-colour);
	box-shadow: 3px -1px var(--jd-highlight-colour);
	margin-left: -2px;
}
