/* Pull in Sindrus' modern-normalize */
@import "/node_modules/modern-normalize/modern-normalize.css";

/* Register our custom font family and tell the browser where to find it. */
/* TODO: replace this with the proper font when you buy it */
@font-face {
	font-family: "Berkeley Mono Trial";
	src: url("/fonts/BerkeleyMonoTrial-Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* https://css-tricks.com/html-vs-body-in-css/ */
html {
	background-color: #f6f6f6;
}

body {
	font-family: "Bitter", system-ui, sans-serif;
	max-width: 64rem;
	padding: 1rem;
}

a {
	color: inherit;
	text-decoration: inherit;
}

/* Override modern-normalize */
code,
kbd,
samp,
pre {
	font-family: Berkeley Mono Trial, ui-monospace, SFMono-Regular, Menlo, Monaco,
		Consolas, Liberation Mono, Courier New, monospace;
	font-size: 1em;
}
