/* Register our custom font family and tell the browser where to find it. */
@font-face {
	font-family: "Berkeley Mono Trial";
	src: url("/fonts/BerkeleyMonoTrial-Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* Astro default; remove */
:root {
	--accent: 124, 58, 237;
	--accent-gradient: linear-gradient(
		45deg,
		rgb(var(--accent)),
		#da62c4 30%,
		white 60%
	);
}

body {
	max-width: 64rem;
	padding: 1rem;
}

html {
	font-family: Bitter, system-ui, sans-serif;
	background-color: #f6f6f6;
}

code {
	font-family: "Berkeley Mono Trial", Menlo, Monaco, Lucida Console,
		Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
		monospace;
}
