/* Less variables */
.jd-box {
  border: 2px solid var(--jd-bg-colour);
  padding: 1.5rem 2rem;
  font-family: var(--monospace);
  color: var(--jd-bg-colour);
  line-height: 1.6;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.024),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.04),
    0 18.3px 14.9px rgba(0, 0, 0, 0.06), 0 0 3px 3px rgb(255, 240, 240);
  width: fit-content;
}

.border-bottom-dotted {
  border-bottom: 1px dotted var(--jd-bg-colour);
}

.border-bottom-solid {
  border-bottom: 1px solid var(--jd-bg-colour);
}

.bold {
  font-weight: bold;
}
