// Variables
$space-small: 1rem;
$space-medium: 1.6rem;
$space-large: 2.56rem;

$site-width: 1000px;

$monospace: "Berkeley Mono", Monaco, "Cascadia Mono", "Segoe UI Mono",
  "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
  "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

$bg-colour: #580602; // was --jd-bg-colour
$jd-highlight-colour: #db170e; // was --jd-highlight-colour
$jd-offwhitered: rgb(251, 247, 246); // was --jd-offwhitered

// https://www.freecodecamp.org/news/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862/
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

@mixin for-print {
  @media print {
    @content;
  }
}

@mixin troubleshooting {
  * {
    outline: 1px dashed red;
  }
}

:root {
  /* Only the stuff we need immediately below. Everything else is in
     johnny.scss. */
  --offblack: #211;
  --offwhite: rgb(251, 249, 249);
}
html {
  background-color: var(--offwhite);
  /* height: -webkit-fill-available; */

  /* https://www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/ */
  font-size: 62.5%;
}
body {
  color: var(--offblack);
  background-color: var(--offwhite);

  margin: 0 auto;

  /* https://www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/ */
  font-size: 1.6rem;
}

// Plain old CSS that will inherit everywhere.
a {
  color: inherit;
  text-decoration: inherit;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

code,
pre {
  font-family: $monospace;
}

.jdcontent {
  margin: 0 $space-medium;
  font-family: "IBM Plex Serif";
}

.jd-box {
  /* The font-size needs to be smaller in some cases (where the box ends
     up being wide), but they're rare so handle them by exception.
    
     Don't center this by default. Do that in the component if you want it.
  */
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.024),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.04),
    0 18.3px 14.9px rgba(0, 0, 0, 0.06), 0 0 3px 3px rgb(255, 240, 240);
  border: 2px solid var(--jd-bg-colour);
  color: var(--jd-bg-colour);
  font-family: var(--monospace);
  font-size: 1.6rem;
  line-height: 1.6;
  padding: 1.5rem 2rem;
  width: fit-content;
}

.border-bottom-dotted {
  border-bottom: 1px dotted var(--jd-bg-colour);
}

.border-bottom-solid {
  border-bottom: 1px solid var(--jd-bg-colour);
}

.bold {
  font-weight: bold;
}
