---
import jdSort from "@js/jdSort.js";
import JDNavItem from "./JDNavItem.astro";

const pages = await Astro.glob("../../pages/**/*.{md,mdx}");

/* You need to sort on frontmatter.number, because of the way that Astro feeds
   you the `index` pages. */
pages.sort(jdSort);
---

<nav>
  <div class="index-brackets index-brackets-top">
    <div>┌</div>
    <div class="index-brackets-horizontal-line">
      ─ Index
      ─────────────────────────────────────────────────────────────────────────────────
    </div>
    <div>┐</div>
  </div>
  <div class="index-main">
    <ol>
      {
        pages
          .filter((page) => !page.frontmatter.exclude)
          .map((page) => (
            <JDNavItem
              number={page.frontmatter.number}
              title={page.frontmatter.title}
              url={page.url}
            />
          ))
      }
    </ol>
  </div>
  <div class="index-brackets index-brackets-bottom">
    <div>└</div>
    <div class="index-brackets-horizontal-line">
      ───────────────────────────────────────────────────────────────────────────────────
    </div>
    <div>┘</div>
  </div>
</nav>

<style lang="scss">
  @use "/src/styles/johnny.scss" as *;

  nav {
    grid-area: nav;

    font-family: var(--monospace);

    border-top: 1px dashed var(--jd-bg-colour);
    padding: $space-medium $space-small;

    @include for-tablet-landscape-up {
      max-width: 40ch;

      border-top: none;
      padding: 0;
    }

    @include for-print {
      display: none;
    }
  }

  .index-main {
    margin: 0 auto;
    padding: 0 2ch;
    width: fit-content;
  }

  .index-brackets {
    display: grid;
    grid-auto-flow: column;
    white-space: nowrap;
  }
  .index-brackets-horizontal-line {
    overflow: hidden;
  }
  .index-brackets-top {
    margin-bottom: $space-small;
  }
  .index-brackets-bottom {
    margin-top: $space-small;
  }
</style>
