---
import jdSort from "@js/jdSort.js";
import JDNavItem from "./JDNavItem.astro";

const pages = await Astro.glob("../../pages/**/*.{md,mdx}");

/* You need to sort on frontmatter.number, because of the way that Astro feeds
   you the `index` pages. */
pages.sort(jdSort);
---

<nav>
  <div class="index-brackets index-brackets-top">
    <div>┌</div>
    <div class="index-brackets-horizontal-line">
      ─ Index
      ─────────────────────────────────────────────────────────────────────────────────
    </div>
    <div>┐</div>
  </div>
  <div class="index-main">
    <ol>
      {
        pages
          .filter((page) => !page.frontmatter.exclude)
          .map((page) => (
            <JDNavItem
              number={page.frontmatter.number}
              title={page.frontmatter.title}
              url={page.url}
            />
          ))
      }
    </ol>
  </div>
  <div class="index-brackets index-brackets-bottom">
    <div>└</div>
    <div class="index-brackets-horizontal-line">
      ───────────────────────────────────────────────────────────────────────────────────
    </div>
    <div>┘</div>
  </div>
</nav>

<style lang="scss">
  @use "/src/styles/johnny.scss" as *;

  nav {
    grid-area: nav;

    font-family: var(--monospace);

    border-top: 1px dashed var(--jd-bg-colour);
    padding: $space-medium $space-small;

    @include for-tablet-landscape-up {
      max-width: 40ch;

      border-top: none;
      padding: 0;
    }

    @include for-print {
      display: none;
    }

    // vertical-align: top;
  }

  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .index-brackets {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1ch minmax(0, 1fr) 1ch;
    text-align: center;
    margin-bottom: 0.25rem;
    white-space: nowrap;
  }

  .index-brackets-horizontal-line {
    overflow: hidden;
  }

  .index-brackets-top {
    margin-bottom: 1rem;
  }
  .index-brackets-bottom {
    margin-top: 1rem;
  }

  .index-main {
    padding: 0 2ch;
  }

  /* Style for iPad-landscape+. */
  /* https://getbootstrap.com/docs/5.0/layout/breakpoints/#max-width */
  @media screen and (min-width: 991.98px) {
    .jdnavigation {
      flex-grow: 0; /* do not grow   - initial value: 0 */
      flex-shrink: 0; /* do not shrink - initial value: 1 */
      flex-basis: 35ch; /* width/height  - initial value: auto */
    }

    /* .toc {
      display: none;
      background-color: unset;
    } */
  }
</style>
