---
import jdSort from "@js/jdSort.js";
import JDNavItem from "./JDNavItem.astro";

const pages = await Astro.glob("../../pages/**/*.{md,mdx}");

/* You need to sort on frontmatter.number, because of the way that Astro feeds
   you the `index` pages. */
pages.sort(jdSort);
---

<nav class="jdnavigation">
  <div class="toc">
    ┌───────────────────┐<br />│ TABLE OF CONTENTS │<br />└───────────────────┘
  </div>
  <div class="max-width-for-ipad-ish-layouts">
    <ol>
      {
        pages.map((page) => (
          <JDNavItem
            number={page.frontmatter.number}
            title={page.frontmatter.title}
            url={page.url}
          />
        ))
      }
    </ol>
  </div>
</nav>

<style>
  ol {
    margin: 0;
    padding: 0;
  }

  .max-width-for-ipad-ish-layouts {
    /* On desktop this is limited to 35ch by the flex container. That doesn't
       apply on mobile, so constrain it otherwise it looks odd on iPad. We don't
       apply this to .jdnavigation otherwise the bgcolor doesn't bleed to edge.
       */
    max-width: 40ch;
    margin: 0 auto;
  }

  .jdnavigation {
    font-family: "Berkeley Mono", Monaco, "Cascadia Mono", "Segoe UI Mono",
      "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
      "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    /* height: fit-content; */
    line-height: 1.2rem;
    padding: 0.5rem 1rem 1rem 1rem;
    border-top: 1px solid var(--jd-highlight-colour);
    background-color: rgb(255, 248, 252);
    /* Give the bottom a bit of room on mobile. */
    padding-bottom: 2rem;
  }

  .toc {
    /* font-variant: small-caps; */
    text-align: center;
    /* font-size: 1.5rem; */
    /* margin-bottom: 1rem; */
    font-weight: bold;
    margin-bottom: 0.25rem;
  }

  /* Style for iPad-landscape+. */
  /* https://getbootstrap.com/docs/5.0/layout/breakpoints/#max-width */
  @media screen and (min-width: 991.98px) {
    .jdnavigation {
      flex-grow: 0; /* do not grow   - initial value: 0 */
      flex-shrink: 0; /* do not shrink - initial value: 1 */
      flex-basis: 35ch; /* width/height  - initial value: auto */
      padding-top: 1px; /* Lines it up with the header */
      border-top: 0;
      height: fit-content;
      border-bottom: 1px solid var(--jd-highlight-colour);
      background-color: unset;
      margin-top: 1rem;
      padding-bottom: 1rem;
    }

    .toc {
      display: none;
      background-color: unset;
    }
  }
</style>
