---
/**
	# JDNavigation

	This will be the component that scrapes the site and returns a complete
	navigation section.

	We've already wrapped this in a <nav> up in <Layout>.
	*/

import jdSort from "@js/jdSort.js";
import JDNavItem from "./JDNavItem.astro";

const pages = await Astro.glob("../../pages/**/*.{md,mdx}");

// You need to sort on frontmatter.number
pages.sort(jdSort);
---

<nav class="jdnavigation">
  {
    /* Make me an <ol>? So don't forget to make JDNavItem return <li>. */
    pages.map((page) => (
      <JDNavItem
        number={page.frontmatter.number}
        title={page.frontmatter.title}
        url={page.url}
      />
    ))
  }
</nav>

<style>
  .jdnavigation {
    /* display: grid;
    gap: 1ch;
    grid-template-columns: 5ch 5ch auto; */
    font-family: "Berkeley Mono", Monaco, "Cascadia Mono", "Segoe UI Mono",
      "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
      "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    height: fit-content;
    line-height: 1.2rem;
  }

  /* Style for iPad-landscape+. */
  /* https://getbootstrap.com/docs/5.0/layout/breakpoints/#max-width */
  @media screen and (min-width: 991.98px) {
    .jdnavigation {
      flex-grow: 0; /* do not grow   - initial value: 0 */
      flex-shrink: 0; /* do not shrink - initial value: 1 */
      flex-basis: 35ch; /* width/height  - initial value: auto */
      padding-top: 1px; /* Lines it up with the header */
    }
  }
</style>
