---
import jdSort from "@js/jdSort.js";
import JDNavItem from "./JDNavItem.astro";

const pages = await Astro.glob("../../pages/**/*.{md,mdx}");

/* You need to sort on frontmatter.number, because of the way that Astro feeds
   you the `index` pages. */
pages.sort(jdSort);
---

<nav class="jdnavigation">
  <div class="index-brackets index-brackets-top">
    <div>┌</div>
    <div class="index-brackets-horizontal-line">
      ─ Index ─────────────────────────────────────────
    </div>
    <div>┐</div>
  </div>
  <div class="index-main">
    <ol>
      {
        pages
          .filter((page) => !page.frontmatter.exclude)
          .map((page) => (
            <JDNavItem
              number={page.frontmatter.number}
              title={page.frontmatter.title}
              url={page.url}
            />
          ))
      }
    </ol>
  </div>
  <div class="index-brackets index-brackets-bottom">
    <div>└</div>
    <div class="index-brackets-horizontal-line">
      ────────────────────────────────────────────────
    </div>
    <div>┘</div>
  </div>
</nav>

<style>
  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .jdnavigation {
    font-family: "Berkeley Mono", Monaco, "Cascadia Mono", "Segoe UI Mono",
      "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
      "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    /* line-height: 1.2rem; */
    padding: 0rem; /* Wrap it in a div if you want to pad it */
    max-width: 35ch;
    margin: 0 auto;
    vertical-align: top;
  }

  .index-brackets {
    display: grid;
    grid-auto-flow: column;
    grid-text-columns: 1ch minmax(0, 1fr) 1ch;
    text-align: center;
    margin-bottom: 0.25rem;
    white-space: nowrap;
  }

  .index-brackets-horizontal-line {
    overflow: hidden;
  }

  .index-brackets-top {
    margin-bottom: 1rem;
  }
  .index-brackets-bottom {
    margin-top: 1rem;
  }

  .index-main {
    padding: 0 2ch;
  }

  /* Style for iPad-landscape+. */
  /* https://getbootstrap.com/docs/5.0/layout/breakpoints/#max-width */
  @media screen and (min-width: 991.98px) {
    .jdnavigation {
      flex-grow: 0; /* do not grow   - initial value: 0 */
      flex-shrink: 0; /* do not shrink - initial value: 1 */
      flex-basis: 35ch; /* width/height  - initial value: auto */
    }

    /* .toc {
      display: none;
      background-color: unset;
    } */
  }
</style>
