---
---

{
  import.meta.env.DEV ? (
    <div style="padding: 5px; background: greenyellow;">{Astro.self.name}</div>
  ) : null
}
<div class="jd-box">
  <div class="grid">
    <pre class="header">Folder</pre>
    <pre class="header">This is a...</pre>

    <pre><span class="area">Finance</span></pre>
    <pre>AREA</pre>

    <pre>  <span class="category">Tax returns</span></pre>
    <pre>CATEGORY</pre>
    <pre>  <span class="category">Payroll</span></pre>
    <pre>CATEGORY</pre>

    <pre>    Jan '23 payroll</pre>
    <pre>UNIQUE THING</pre>
    <pre>    Feb '23 payroll</pre>
    <pre>UNIQUE THING</pre>

    <pre>  <span class="category">Bookkeeping</span></pre>
    <pre>CATEGORY</pre>

    <pre>&nbsp;</pre>
    <pre>&nbsp;</pre>

    <pre><span class="area">Administration</span></pre>
    <pre>AREA</pre>

    <!-- &nbsp; to ensure 1ch padding at the right on tiny screens -->
    <pre>  <span class="category">Company registration</span><span class="spacer">&nbsp;</span></pre>
    <pre>CATEGORY</pre>
    <pre>  <span class="category">Contracts</span></pre>
    <pre>CATEGORY</pre>

    <pre>    Cleaning contract</pre>
    <pre>UNIQUE THING</pre>
    <pre>    Office lease</pre>
    <pre>UNIQUE THING</pre>

    <pre>  <span class="category">Staffing</span></pre>
    <pre>CATEGORY</pre>

    <pre>&nbsp;</pre>
    <pre>&nbsp;</pre>

    <pre><span class="area">Marketing</span></pre>
    <pre>AREA</pre>

    <pre>  <span>...and so on</span></pre>
  </div>
</div>

<style lang="scss">
  @use "/src/styles/johnny" as *;

  .jd-box {
    padding: 1.5rem 1rem;
    margin: 0 0 4rem 0;

    & pre {
      font-size: 12px;
      @include for-tablet-portrait-up {
        font-size: 16px;
      }
    }

    & .spacer {
      @include for-tablet-portrait-up {
        margin-right: 3ch;
      }
    }

    @include for-tablet-portrait-up {
      padding: 1.5rem 2rem;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto;
  }

  .header {
    font-weight: bold;
    border-bottom: 2px solid $jd-bg-colour;
    margin-bottom: 1rem;
  }

  .area {
    border-bottom: 1px solid $jd-bg-colour;
  }

  .category {
    border-bottom: 1px dotted $jd-bg-colour;
  }
</style>
