---
---

<div class="jd-box">
  <div class="grid">
    <div class="header">Folder</div>
    <div class="header">This is a...</div>

    <div><span class="area">Finance</span></div>
    <div>AREA</div>

    <pre>  <span class="category">Tax returns</span></pre>
    <div>CATEGORY</div>
    <pre>  <span class="category">Payroll</span></pre>
    <div>CATEGORY</div>

    <pre>    Jan '23 payroll</pre>
    <div>UNIQUE THING</div>
    <pre>    Feb '23 payroll</pre>
    <div>UNIQUE THING</div>

    <pre>  <span class="category">Bookkeeping</span></pre>
    <div>CATEGORY</div>

    <pre>&nbsp;</pre>
    <pre>&nbsp;</pre>

    <div><span class="area">Administration</span></div>
    <div>AREA</div>

    <!-- &nbsp; to ensure 1ch padding at the right on tiny screens -->
    <pre>  <span class="category">Company registration</span>&nbsp;</pre>
    <div>CATEGORY</div>
    <pre>  <span class="category">Contracts</span></pre>
    <div>CATEGORY</div>

    <pre>    Cleaning contract</pre>
    <div>UNIQUE THING</div>
    <pre>    Office lease</pre>
    <div>UNIQUE THING</div>

    <pre>  <span class="category">Staffing</span></pre>
    <div>CATEGORY</div>

    <pre>&nbsp;</pre>
    <pre>&nbsp;</pre>

    <div><span class="area">Marketing</span></div>
    <div>AREA</div>

    <pre>  <span>...and so on</span></pre>
    <div></div>
  </div>
</div>

<style lang="scss">
  @use "/src/styles/johnny" as *;

  .jd-box {
    font-size: 1.1rem;
    padding: 1.5rem 1rem;
    margin: 0 0 4rem 0;
    @include for-tablet-portrait-up {
      font-size: 1.6rem;
      padding: 1.5rem 2rem;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto;
  }

  .header {
    font-weight: bold;
    border-bottom: 2px solid $jd-bg-colour;
    margin-bottom: 1rem;
  }

  .area {
    border-bottom: 1px solid $jd-bg-colour;
  }

  .category {
    border-bottom: 1px dotted $jd-bg-colour;
  }
</style>
