---
---

<div class="jd-box">
  <pre><span class="border-bottom-solid bold">The 10-19 numbers</span></pre>
  <pre>   <span class="border-bottom-dotted">The 12 numbers</span></pre>
  <pre>       12.34  12.35</pre>
  <pre>   <span class="border-bottom-dotted">The 13 numbers</span></pre>
  <pre>       13.03  13.04</pre>

  <pre>&nbsp;</pre>

  <pre><span class="border-bottom-solid bold">The 20-29 numbers</span></pre>
  <pre>   <span class="border-bottom-dotted">The 21 numbers</span></pre>
  <pre>       21.01  21.02</pre>
  <pre>   <span class="border-bottom-dotted">The 22 numbers</span></pre>
  <pre>       22.38  22.39</pre>
  <pre>   <span class="border-bottom-dotted">The 23 numbers</span></pre>
  <pre>       23.21  23.22</pre>
  <pre>       23.23  23.24</pre>

  <pre>&nbsp;</pre>

  <pre><span class="border-bottom-solid bold">The 30-39 numbers</span></pre>
  <pre>   <span class="border-bottom-dotted">The 31 numbers</span></pre>
  <pre>       31.70  31.71</pre>
  <pre>   <span class="border-bottom-dotted">The 32 numbers</span></pre>
  <pre>       32.55  32.56</pre>
</div>

<style lang="scss">
  @use "/src/styles/johnny" as *;

  .jd-box {
    margin: 0 auto 4rem auto;
  }
</style>
