---
import "../../styles/johnny.scss";
---

{
  import.meta.env.DEV ? (
    <div style="padding: 5px; background: greenyellow;">{Astro.self.name}</div>
  ) : null
}
<div class="grid">
  <pre
    class="jd-box">{`23.24    31.70
22.39    13.04
31.71    21.02
22.38    13.03
23.21    23.22
32.56    12.34
12.35    21.01
32.55    23.23`}</pre>
  <div class="text">
    <p class="margin">
      Here are a bunch of random<br />numbers from a theoretical system.
    </p>
  </div>
</div>

<style lang="scss">
  @use "/src/styles/johnny" as *;

  .grid {
    display: block;
    width: fit-content;
    margin: 0 0 4rem 0;

    @include for-tablet-portrait-up {
      display: grid;
      grid-template-columns: auto 1fr;
    }
  }

  .text {
    display: none;
    @include for-tablet-portrait-up {
      display: block;
      font-size: 1.6rem;
      font-style: italic;
      line-height: 1.8;
      padding: 1.5rem 2rem;
    }
  }

  p.margin {
    @include for-tablet-portrait-up {
      margin-top: 0;
    }
  }
</style>
