---
import "../../styles/johnny.scss";
---

<div class="grid">
  <pre
    class="jd-box">{`23.24    31.70
22.39    13.04
31.71    21.02
22.38    13.03
23.21    23.22
32.56    12.34
12.35    21.01
32.55    23.23`}</pre>
  <div class="text">
    Here are a bunch of random<br />numbers from a theoretical system.
  </div>
</div>

<style lang="scss">
  @use "/src/styles/johnny" as *;

  .grid {
    display: block;
    width: fit-content;
    margin: 0 auto 4rem auto;
  }

  .text {
    display: none;
  }

  @include for-tablet-portrait-up {
    .grid {
      display: grid;
      grid-template-columns: auto 1fr;
    }

    .text {
      padding: 1.5rem 2rem;
      font-size: 1.6rem;
      line-height: 1.8;
      font-style: italic;
    }
  }
</style>
