---
---

<div class="jd-box">
  <div class="grid">
    <div class="header">Folder</div>
    <div class="header">This is a...</div>

    <div><span class="area">10-19 Finance</span></div>
    <div>AREA</div>

    <pre>   <span class="category">11 Tax returns</span></pre>
    <div>CATEGORY</div>
    <pre>   <span class="category">12 Payroll</span></pre>
    <div>CATEGORY</div>

    <pre>      12.01 Jan '23 payroll</pre>
    <div>UNIQUE THING</div>
    <pre>      12.02 Feb '23 payroll</pre>
    <div>UNIQUE THING</div>

    <pre>   <span class="category">13 Bookkeeping</span></pre>
    <div>CATEGORY</div>

    <pre>&nbsp;</pre>
    <pre>&nbsp;</pre>

    <div><span class="area">20-29 Administration</span></div>
    <div>AREA</div>

    <pre>   <span class="category">21 Company registration</span></pre>
    <div>CATEGORY</div>
    <pre>   <span class="category">22 Contracts</span></pre>
    <div>CATEGORY</div>

    <!-- &nbsp; to ensure 1ch padding at the right on tiny screens -->
    <pre>      22.01 Cleaning contract&nbsp;</pre>
    <div>UNIQUE THING</div>
    <pre>      22.02 Office lease</pre>
    <div>UNIQUE THING</div>

    <pre>   <span class="category">23 Staffing</span></pre>
    <div>CATEGORY</div>

    <pre>&nbsp;</pre>
    <pre>&nbsp;</pre>

    <div><span class="area">30-39 Marketing</span></div>
    <div>AREA</div>

    <pre>   <span>...and so on</span></pre>
    <div></div>
  </div>
</div>

<style lang="scss">
  @use "/src/styles/johnny" as *;

  .jd-box {
    margin: 0 auto 4rem auto;
    padding: 1.5rem 1rem;

    @include for-tablet-portrait-up {
      margin: 0 0 4rem 0;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto;
    font-size: 1.1rem;
    white-space: pre-wrap;
    @include for-tablet-portrait-up {
      font-size: 1.6rem;
    }
  }

  .header {
    font-weight: bold;
    border-bottom: 2px solid var(--jd-bg-colour);
    margin-bottom: 1rem;
  }

  .area {
    border-bottom: 1px solid var(--jd-bg-colour);
    font-weight: bold;
  }

  .category {
    border-bottom: 1px dotted var(--jd-bg-colour);
  }
</style>
