---
---

<div class="grid">
  <div class="words">
    <p class="margin">
      You can almost imagine this looking like a set of folders. If you didn’t
      care about anything except the 22 numbers, you could just collapse the
      others like this.
    </p>
  </div>
  <img
    alt="Screenshot of macOS Finder showing the numbers from the example above as a nested folder structure."
    class="margin"
    src="/img/11.02_finder_just_numbers.png"
    srcset="/img/11.02_finder_just_numbers.png 2x"
  />
</div>

<style lang="scss">
  @use "/src/styles/johnny" as *;

  .grid {
    display: grid;
    grid-auto-flow: row;
    align-items: start;

    @include for-tablet-portrait-up {
      grid-auto-flow: column;
      grid-template-columns: 1fr auto;
    }
  }

  p.margin {
    margin: 0;
  }

  img.margin {
    @include for-tablet-portrait-up {
      margin: 0;
    }
  }

  .words {
    @include for-tablet-portrait-up {
      margin-right: 1.5rem;
    }
  }
</style>
