---
---

<div class="jd-box">
  <pre><span class="border-bottom-dotted">The 12 numbers</span>    <span class="border-bottom-dotted">The 13 numbers</span></pre>
  <pre>    12.34  12.35      13.03  13.04</pre>

  <pre>&nbsp;</pre>

  <pre><span class="border-bottom-dotted">The 21 numbers</span>    <span class="border-bottom-dotted">The 22 numbers</span></pre>
  <pre>    21.01  21.02      22.38  22.39</pre>

  <pre>&nbsp;</pre>

  <pre><span class="border-bottom-dotted">The 23 numbers</span>    <span class="border-bottom-dotted">The 31 numbers</span></pre>
  <pre>    23.21  23.22      31.70  31.71</pre>
  <pre>    23.23  23.24</pre>

  <pre>&nbsp;</pre>

  <pre><span class="border-bottom-dotted">The 32 numbers</span></pre>
  <pre>    23.23  23.24</pre>
</div>

<style lang="scss">
  @use "/src/styles/johnny" as *;

  // Needs to be smaller to fit on small screens.
  .jd-box {
    font-size: 1.2rem;
    margin: 0 auto 4rem auto;
    padding: 1.5rem 1rem;

    @include for-tablet-portrait-up {
      font-size: 1.6rem;
      margin: 0 0 4rem 0;
      padding: 1.5rem 2rem;
    }
  }
</style>
