---
---

{
  import.meta.env.DEV ? (
    <div style="padding: 5px; background: greenyellow;">{Astro.self.name}</div>
  ) : null
}
<div class="jd-box">
  <pre>10-19 Administration
20-29 Finance
30-39 Marketing
40-49 Exports</pre>
</div>

<style lang="scss">
  @use "/src/styles/johnny" as *;

  .jd-box {
    margin: 0 0 4rem 0;
    padding: 1.5rem 1rem;

    & pre {
      font-size: 16px;
    }

    @include for-tablet-portrait-up {
      margin: 0 0 4rem 0;
      padding: 1.5rem 2rem;
    }
  }
</style>
