---
import Layout from "@layouts/Layout.astro";
---

<Layout title="No home!">
  <h1>
    There isn't a home page; Netlify should 301 to <a href="/00-09_System"
      >/00-09_System</a
    >.
  </h1>
</Layout>
