---
---

<div class="footer"></div>

<style>
  .footer {
    border-bottom: 2px solid var(--jd-highlight-colour);
    font-family: $monospace;
  }
</style>

<!--
<form
  action="https://buttondown.email/api/emails/embed-subscribe/johnny.decimal"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/johnny.decimal', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Enter your email</label>
  <input type="email" name="email" id="bd-email" />
  <input type="submit" value="Subscribe" />
  <input type="hidden" name="tag" value="v5_2023" />
  <p>
    <a href="https://buttondown.email" target="_blank">Powered by Buttondown.</a
    >
  </p>
</form>

<style>
  footer {
    color: var(--jd-bg-colour);
    font-family: "Berkeley Mono", Monaco, "Cascadia Mono", "Segoe UI Mono",
      "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
      "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
  }

  /* Style for iPad-landscape+. */
  /* https://getbootstrap.com/docs/5.0/layout/breakpoints/#max-width */
  @media screen and (min-width: 991.98px) {
    footer {
      border-top: 1px solid var(--jd-highlight-colour);
    }
  }
</style>
 -->
