---
import logo from "./colours_v1_40x26.png";
import { Image } from "@astrojs/image/components";
---

<header>
  <Image src={logo} alt="Johnny.Decimal logo" />
  <h1>Johnny•Decimal</h1>
</header>

<style>
  header {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    justify-content: center;
    max-width: var(--site-width);
    margin: 1.5rem auto 1.5rem auto;

    color: var(--jd-bg-colour);
    font-family: "Berkeley Mono", Monaco, "Cascadia Mono", "Segoe UI Mono",
      "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
      "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  }

  header > img {
    align-self: center;
    justify-self: start;
    margin: 0 0 0 1rem;
  }

  header > h1 {
    font-size: 1.6rem;
    font-weight: normal;
    place-self: center;
  }

  /* Tablet landscape and up */
  @media (min-width: 900px) {
  }
</style>
