---
import logo from "./colours_v1_40x26.png";
import { Image } from "@astrojs/image/components";
---

<header>
  <div class="header-grid">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      version="1.1"
      x="0px"
      y="0px"
      style="enable-background:new 0 0 1080 1080;"
      xml:space="preserve"
      viewBox="183.7 269.9 712.55 540.3"
      height="30"
    >
      <g id="Layer_1"> </g>
      <g id="Layer_2">
        <path
          class="st0"
          d="M473.2,269.9H350.6c-6.4,0-12.1,4.2-13.9,10.4L184.3,791.9c-2.7,9.1,4.1,18.3,13.7,18.3h122.7   c6.4,0,12.1-4.2,13.9-10.4l152.3-511.7C489.6,279,482.8,269.9,473.2,269.9z"
        ></path>
        <g>
          <path
            class="st2"
            d="M834.9,459.2H712.1c-9.5,0-16.3-9-13.7-18.1l46.9-160.7c1.8-6.2,7.5-10.5,14-10.5H882c9.5,0,16.3,9,13.7,18.1    l-46.9,160.7C847,454.9,841.3,459.2,834.9,459.2z"
          ></path>
          <path
            class="st2"
            d="M593,791.8l86-283.9c1.8-6.1,7.5-10.3,13.9-10.3h122.6c9.6,0,16.4,9.1,13.6,18.3l-86,283.9    c-1.8,6.1-7.5,10.3-13.9,10.3H606.7C597.1,810.1,590.3,801,593,791.8z"
          ></path>
        </g>
        <g>
          <g>
            <path
              class="st1"
              d="M449.5,620.8h122.7c9.5,0,16.3,9,13.7,18.1L539,799.7c-1.8,6.2-7.5,10.5-14,10.5H402.3     c-9.5,0-16.3-9-13.7-18.1l46.9-160.7C437.3,625.1,443,620.8,449.5,620.8z"
            ></path>
            <path
              class="st1"
              d="M691.3,288.2l-86,283.9c-1.8,6.1-7.5,10.3-13.9,10.3H468.8c-9.6,0-16.4-9.1-13.6-18.3l86-283.9     c1.8-6.1,7.5-10.3,13.9-10.3h122.6C687.2,269.9,694.1,279,691.3,288.2z"
            ></path>
          </g>
        </g>
      </g>
    </svg>

    <h1><a href="/">Johnny•Decimal</a></h1>
  </div>
</header>

<style lang="scss">
  @use "/src/styles/johnny" as *;

  // Whole-page-width border
  header {
    border-bottom: 2px solid var(--jd-highlight-colour);
    margin-bottom: $space-small;
    padding: $space-small;
  }

  .header-grid {
    display: grid;
    grid-template-columns: 60px 1fr 60px;
    max-width: var(--site-width);
    margin: 0 auto;

    font-family: var(--monospace);
    color: var(--jd-bg-colour);
  }

  svg {
    align-self: center;
    justify-self: start;

    .st0 {
      fill: #a8001f;
    }
    .st1 {
      fill: #dd0031;
    }
    .st2 {
      fill: #ff004d;
    }
    .st3 {
      fill: #ffffff;
    }
  }

  h1 {
    font-size: 1.6rem;
    font-weight: bold;
    place-self: center;
  }
</style>
