---
interface Props {
  backTitle: string;
  backUrl: string;
  nextTitle: string;
  nextUrl: string;
}

const { backTitle, backUrl, nextTitle, nextUrl } = Astro.props;
---

<div class="back-next-grid">
  <div class="back"><a href={backUrl}>&#x25C1;&#x2500; {backTitle}</a></div>
  <div class="next"><a href={nextUrl}>{nextTitle} &#x2500;&#x25B7;</a></div>
</div>

<style>
  .back-next-grid {
    display: grid;
    grid-auto-flow: row;

    font-family: var(--monospace);
    font-size: 1.6rem;
    margin: 0 2rem;

    @include for-tablet-landscape-up {
      grid-auto-flow: column;
    }
  }
</style>
