---
import BracketsHorizontalTop from "@components/BracketsHorizontal/BracketsHorizontalTop.astro";
import BracketsHorizontalBottom from "@components/BracketsHorizontal/BracketsHorizontalBottom.astro";
import { pages } from "./pages.js";

const pathname = Astro.url.pathname;
console.log("ðŸ”´ pathname:", pathname);

const pageIndex = pages.findIndex((page) => page.pathname === pathname);

let backPath, backTitle, nextPath, nextTitle;

if (pageIndex > 1) {
  backPath = pages[pageIndex - 1].pathname;
  backTitle = pages[pageIndex - 1].title;
}

if (pageIndex < pages.length - 1) {
  nextPath = pages[pageIndex + 1].pathname;
  nextTitle = pages[pageIndex + 1].title;
}
---

<div class="BackNext">
  <BracketsHorizontalTop label="â—/â–¶" />
  <div class="back-next-grid">
    <div class="back">
      {backPath ? <a href={backPath}>&#x25C1; {backTitle}</a> : <div />}
    </div>
    <div class="next">
      {nextPath ? <a href={nextPath}>{nextTitle} &#x25B6;</a> : <div />}
    </div>
  </div>
  <BracketsHorizontalBottom />
</div>

<style lang="scss">
  @use "/src/styles/johnny" as *;

  // @include troubleshooting;

  a:hover {
    background-color: var(--jd-highlight-colour);
    color: var(--offwhite);
  }

  .BackNext {
    padding: 0 $space-small;
    margin: $space-medium auto;
  }

  .back-next-grid {
    display: grid;
    grid-auto-flow: column;
    gap: 2ch;

    font-family: $monospace;

    margin: 0;

    @include for-tablet-landscape-up {
      margin: 0 auto $space-large 0;
    }
  }

  .back {
    justify-self: start;
  }

  .next {
    justify-self: end;
  }
</style>
