---
import Area from "./Area.astro";
---

<div class="jd-code-block-container"><Area /></div>

<style>
  .jd-code-block-container {
    /* Development -- shouldn't be needed in prod? */
    max-width: 60ch;
    background-color: antiquewhite;

    /* Prod */
    font-family: "Berkeley Mono", Monaco, "Cascadia Mono", "Segoe UI Mono",
      "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
      "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  }
</style>
