---
import logo from "./colours_v1_40x26.png";
import { Image } from "@astrojs/image/components";
---

<header>
  <Image src={logo} alt="Johnny.Decimal logo" />
  <h1>Johnny•Decimal</h1>
</header>

<style>
  header {
    display: grid;
    align-items: center;
    grid-template-columns: 50px auto 50px;
    border-bottom: 1px solid var(--jd-bg-colour);
    color: var(--jd-bg-colour);
    font-family: "Berkeley Mono", Monaco, "Cascadia Mono", "Segoe UI Mono",
      "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
      "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    margin-top: 0;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
  }

  header > img {
    justify-self: start;
  }

  header > h1 {
    font-size: 1rem;
    justify-self: center;
  }
</style>
