---
export interface Props {
  number: string;
  title: string;
  area: string;
  category: string;
}

import Layout from "./Layout.astro";

const { number, title, area, category } = Astro.props.frontmatter;

// console.log("category:", category);

// TODO if you're on an area, you're just at the root; on a category, you're at
//      an area; on an ID, you're at a category

// Create the URL from the area
const areaUrl = "/" + area.replaceAll(" ", "_").toLowerCase();
// console.log(areaUrl);
let categoryUrl;
if (category) {
  categoryUrl = areaUrl + "/" + category.replaceAll(" ", "_").toLowerCase();
  // console.log(categoryUrl);
}
---

<Layout title={`${number} ${title}`}>
  <div class="header-container">
    <div class="header-brackets header-brackets-top">
      <div>┌</div>
      <div class="header-brackets-horizontal-line">
        ─ Reference ─────────────────────────────────────────
      </div>
      <div>┐</div>
    </div>
    <div class="header-area">
      <div></div>
      <pre>  Area     : 10-19 Concepts</pre>
      <pre>  Category : 11 Core</pre>
      <pre>  ID       : 11.01</pre>
      <pre>  Title    : Home page</pre>
    </div>
    <div class="header-brackets header-brackets-bottom">
      <div>└</div>
      <div class="header-brackets-horizontal-line">
        ─────────────────────────────────────────────────
      </div>
      <div>┘</div>
    </div>
  </div>

  <div class="jd-brackets jd-brackets-top">
    <div>┌</div>
    <div class="jd-brackets-horizontal-line">
      ─ Content
      ─────────────────────────────────────────────────────────────────────────────────────────────
    </div>
    <div>┐</div>
  </div>

  <div class="jdcontent">
    <slot />
  </div>
</Layout>

<style>
  pre {
    margin: 0;
  }

  .header-container {
    font-family: "Berkeley Mono", Monaco, "Cascadia Mono", "Segoe UI Mono",
      "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
      "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  }

  .header-brackets {
    font-family: "Berkeley Mono", Monaco, "Cascadia Mono", "Segoe UI Mono",
      "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
      "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    display: grid;
    grid-auto-flow: column;
    grid-text-columns: 1ch minmax(0, 1fr) 1ch;
    text-align: center;
    white-space: nowrap;
    max-width: 35ch;
  }
  .header-brackets-top {
    margin-bottom: 0.5rem;
  }
  .header-brackets-bottom {
    margin-top: 0.5rem;
  }
  .header-brackets-horizontal-line {
    overflow: hidden;
  }

  .jd-brackets {
    font-family: "Berkeley Mono", Monaco, "Cascadia Mono", "Segoe UI Mono",
      "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
      "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    display: grid;
    grid-auto-flow: column;
    grid-text-columns: 1ch minmax(0, 1fr) 1ch;
    text-align: center;
    white-space: nowrap;
    max-width: 60ch;
  }
  .jd-brackets-top {
    margin-bottom: 0.5rem;
  }
  .jd-brackets-bottom {
    margin-top: 0.5rem;
  }
  .jd-brackets-horizontal-line {
    overflow: hidden;
  }

  .monospace {
    font-family: "Berkeley Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
      Consolas, "Liberation Mono", "Courier New", monospace;
  }

  .jdid-container {
    border-bottom: 1px solid var(--jd-highlight-colour);
  }

  .jdid {
    border: 2px solid var(--jd-highlight-colour);
    box-shadow: 3px -1px rgba(82, 5, 2, 1);
    color: var(--jd-bg-colour);
    font-size: 2rem;
    padding: 1rem;
    background-color: var(--jd-offwhitered);
    margin: 1rem;
    width: fit-content;
  }

  .jdac {
    border-bottom: 1px solid var(--jd-highlight-colour);
    font-size: 0.9rem;
    /* padding: 0.5rem 0.5rem 0.5rem 1rem; */
    padding: 0.5rem 2rem 0.5rem 2.25rem;
  }

  .jdac a:hover {
    color: var(--offwhite);
    background-color: var(--jd-highlight-colour);
  }

  /* .jdcontent h1 {
    color: red;
  } */

  /* See global.css for .jdcontent styles */
</style>

<!-- Global style for all the stuff in the <slot /> -->
<style is:global>
  .jdcontent {
    margin: 0 2ch;
    /* line-height: 1.75rem; */
    /* font-size: 16px; */
  }

  .jdcontent h1:first-child,
  .jdcontent h2:first-child {
    margin-top: 0;
  }

  .jdcontent h1,
  .jdcontent h2,
  .jdcontent h3 {
    font-weight: 500;
    /* text-decoration: underline; */
    /* text-decoration-color: var(--jd-bg-colour); */
    margin-top: 2rem;
    margin-bottom: 1.25rem;
  }

  .jdcontent h1 {
    font-size: 2.25rem;
    /* line-height: 1.25; */
  }

  .jdcontent h2 {
    font-size: 1.75rem;
  }

  .jdcontent h3 {
    font-size: 1.5rem;
  }

  .jdcontent p {
    margin: 0.5rem 0;
  }

  .jdcontent code {
    background-color: var(--jd-bg-colour);
    border-bottom: 2px solid var(--jd-highlight-colour);
    color: var(--offwhite);
    padding-inline: 0.25rem;
  }

  .jdcontent ol {
    list-style-type: decimal;
    list-style-position: inside;
  }

  .jdcontent ul {
    list-style-type: disc;
    list-style-position: inside;
  }

  .jdcontent a {
    text-decoration-line: underline;
    color: var(--jd-highlight-colour);
  }

  .jdcontent a:visited {
    text-decoration-line: none;
    color: var(--jd-bg-colour);
  }

  .jdcontent a:hover {
    background-color: var(--jd-highlight-colour);
    color: var(--offwhite);
  }

  .jdcontent blockquote {
    background-color: var(--jd-offwhitered);
    border: 1px dotted var(--jd-bg-colour);
    border-left: 5px solid var(--jd-bg-colour);
    margin: 2rem 0;
    padding-left: 1.5rem;
    padding-right: 1rem;
    font-family: "Berkeley Mono", Monaco, "Cascadia Mono", "Segoe UI Mono",
      "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
      "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    font-size: 0.9rem;
    font-style: italic;
    /* line-height: 1.5rem; */
    text-indent: -1.7ch;
  }

  .jdcontent blockquote em {
    /* text-decoration: underline; */
    font-style: normal;
  }

  .jdcontent sup {
    font-family: "Berkeley Mono", Monaco, "Cascadia Mono", "Segoe UI Mono",
      "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
      "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  }

  .jdcontent blockquote sup {
    font-style: normal;
  }

  .jdcontent hr {
    border: 1px solid var(--jd-highlight-colour);
    background-color: var(--jd-offwhitered);
    margin: 2rem auto;
    min-height: 4px;
    max-width: 100px;
    box-shadow: 2px -1px var(--jd-bg-colour);
  }

  .jdcontent img {
    border: 1px solid var(--jd-highlight-colour);
    margin: 1rem;
  }
</style>
