---
import Layout from "./Layout.astro";
import { jdGetAcidTypeFromString } from "@johnnydecimal/jdgetacidtypefromstring";

import "@fontsource/ibm-plex-sans/400.css";
import "@fontsource/ibm-plex-sans/500.css";
import "@fontsource/ibm-plex-sans/600.css";
import "@fontsource/ibm-plex-serif/400.css";
import "@fontsource/ibm-plex-serif/600.css";

import "@fontsource/fira-sans/400.css";
import "@fontsource/fira-sans/700.css";
import "@fontsource/playfair-display/600.css";

export interface Props {
  number: string;
  title: string;
  area: string;
  category: string;
}
const { number, title, area, category } = Astro.props.frontmatter;

/**
 * Create a link to this page's area.
 */
const areaUrl = "/" + area.replaceAll(" ", "_").toLowerCase();

/**
 * Create a link to this page's category, if it has one. (Areas don't.)
 */
let categoryUrl;
if (category) {
  categoryUrl = areaUrl + "/" + category.replaceAll(" ", "_").toLowerCase();
}

/**
 * We only want to show an ID in the 'location' box if it's actually an ID,
 * i.e. not if it's an AC.
 *
 * Current jdGetAcid... expects "10-19 A title", so fudge that for now.
 * TODO: Fix.
 */
let numberAcidType = jdGetAcidTypeFromString(number + " FIX THIS");
---

<Layout title={`${number} ${title}`}>
  <div class="layout-container">
    <div class="locationbox-container">
      <div class="locationbox-brackets locationbox-brackets-top">
        <div>┌</div>
        <div class="locationbox-brackets-horizontal-line">
          ─ Location
          ───────────────────────────────────────────────────────────────────────────────────────────
        </div>
        <div>┐</div>
      </div>
      <div class="locationbox-acid-details">
        <div class="locationbox-acid-details-grid">
          <div>Area&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</div><div>{area}</div>
          <div>Category :</div><div>{category ? category : "-"}</div>
          <div>ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</div><div>
            {numberAcidType.jdAcidType === "id" ? number : "-"}
          </div>
          <div>Title&nbsp;&nbsp;&nbsp;&nbsp;:</div><div>{title}</div>
        </div>
      </div>
      <div class="locationbox-brackets locationbox-brackets-bottom">
        <div>└</div>
        <div class="locationbox-brackets-horizontal-line">
          ────────────────────────────────────────────────────────────────────────────────────────
        </div>
        <div>┘</div>
      </div>
    </div>

    <!--
    <div class="jd-brackets jd-brackets-top">
      <div>┌</div>
      <div class="jd-brackets-horizontal-line">
        ─ Content
        ─────────────────────────────────────────────────────────────────────────────────────────────
      </div>
      <div>┐</div>
    </div>
    -->

    <div class="jdcontent">
      <slot />
    </div>

    <!--
    <div class="jd-brackets jd-brackets-bottom">
      <div>└</div>
      <div class="jd-brackets-horizontal-line">
        ─────────────────────────────────────────────────────────────────────────────────────────────
      </div>
      <div>┘</div>
    </div>
     -->
  </div>
</Layout>

<style>
  pre {
    margin: 0;
  }

  .layout-container {
    margin: 0 0.7rem;
  }

  .locationbox-container {
    font-family: "Berkeley Mono", Monaco, "Cascadia Mono", "Segoe UI Mono",
      "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
      "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    margin-bottom: 2rem;
  }
  .locationbox-brackets {
    display: grid;
    grid-template-columns: 1ch 1fr 1ch;
    white-space: nowrap;
  }
  .locationbox-brackets-top {
    margin-bottom: 1rem;
  }
  .locationbox-brackets-bottom {
    margin-top: 1rem;
  }
  .locationbox-brackets-horizontal-line {
    overflow: hidden;
  }
  .locationbox-acid-details-grid {
    display: grid;
    grid-template-columns: 11ch 1fr;
    margin-left: 2ch;
  }

  .jd-brackets {
    font-family: "Berkeley Mono", Monaco, "Cascadia Mono", "Segoe UI Mono",
      "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
      "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1ch 1fr 1ch;
    white-space: nowrap;
  }
  .jd-brackets-top {
    margin-bottom: 1rem;
  }
  .jd-brackets-bottom {
    margin-top: 1rem;
  }
  .jd-brackets-horizontal-line {
    overflow: hidden;
  }

  @media (min-width: 900px) {
  }
</style>

<style is:global>
  /* Global style for all the stuff in the <slot /> */
  .jdcontent {
    margin: 0 2ch;
    font-family: "IBM Plex Sans";
    font-family: "Fira Sans";
    font-family: "IBM Plex Serif";
  }

  .jdcontent h1:first-child,
  .jdcontent h2:first-child {
    margin-top: 0;
  }

  .jdcontent h1,
  .jdcontent h2,
  .jdcontent h3 {
    font-family: "Playfair Display";
    font-family: "IBM Plex Sans";
    font-family: "IBM Plex Serif";
    font-weight: 600;
    /* text-decoration: underline; */
    /* text-decoration-color: var(--jd-bg-colour); */
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .jdcontent h1 {
    font-size: 3.6rem;
    line-height: 1.25;
  }

  .jdcontent h2 {
    font-size: 3.2rem;
  }

  .jdcontent h3 {
    font-size: 2.8rem;
  }

  .jdcontent p {
    margin: 1.75rem 0;
    font-size: 1.8rem;
    line-height: 1.8;
  }

  .jdcontent code {
    /* background-color: var(--jd-bg-colour); */
    background-color: var(--jd-offwhitered);
    border: 1px dotted var(--jd-bg-colour);
    border-bottom: 2px solid var(--jd-bg-colour);
    color: var(--jd-bg-colour);
    padding-inline: 0.5rem;
  }

  .jdcontent ol {
    list-style-type: decimal;
    /* list-style-position: inside; */
  }

  .jdcontent ul {
    list-style-type: disc;
    /* list-style-position: inside; */
  }

  .jdcontent li {
    font-size: 1.8rem;
    line-height: 1.8;
  }

  .jdcontent a {
    text-decoration-line: underline;
    color: var(--jd-highlight-colour);
  }

  .jdcontent a:visited {
    text-decoration-line: none;
    color: var(--jd-bg-colour);
  }

  .jdcontent a:hover {
    background-color: var(--jd-highlight-colour);
    color: var(--offwhite);
  }

  .jdcontent blockquote > p {
    font-family: "Berkeley Mono", Monaco, "Cascadia Mono", "Segoe UI Mono",
      "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
      "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    font-size: 1.6rem;
    font-style: italic;

    background-color: var(--jd-offwhitered);
    border: 1px dotted var(--jd-bg-colour);
    border-left: 5px solid var(--jd-bg-colour);

    margin: 2rem -1.5rem;
    padding: 1rem;
  }

  .jdcontent blockquote > p > em {
    font-style: normal;
  }

  .jdcontent sup {
    font-family: "Berkeley Mono", Monaco, "Cascadia Mono", "Segoe UI Mono",
      "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
      "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  }
  .jdcontent blockquote sup {
    font-style: normal;
  }

  .jdcontent hr {
    border: 0;
    border-top: 1px solid lightgray;
    box-shadow: 0 0 5px 5px rgb(250, 245, 245);
    margin: 3rem auto;
  }

  .jdcontent img {
    border: 1px solid var(--jd-highlight-colour);
    margin: 1rem;
  }
</style>
