---
export interface Props {
	title: string;
}

const { title } = Astro.props;

import "@fontsource/bitter";
import "../styles/normalize.css";
import "../styles/global.css";

import JDNavigation from "@components/navigation/JDNavigation.astro";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<h1>Johnny.Decimal</h1>
		</header>
		<div class="nav-main-flex">
			<nav class="jdnavigation">
				<JDNavigation />
			</nav>
			<main>
				<slot />
			</main>
		</div>
	</body>
</html>

<style>
	/* Mobile-first, remember. So define everything for phone, then use
	   @media queries to re-define for tablet+ or whatever. */
	.nav-main-flex {
		display: flex;
		flex-direction: column-reverse;
	}

	/* Mobile-first. So that m */
	/* https://getbootstrap.com/docs/5.0/layout/breakpoints/#max-width */
	@media screen and (max-width: 991.98px) {
	}
</style>
