---
import Layout from "@layouts/Layout.astro";
---

<div class="grid">
  <div class="site-header">site header</div>
  <div class="navigation">navigation</div>
  <div class="content-header">content-header</div>
  <div class="content">content</div>
</div>

<style>
  .grid {
    display: grid;
    grid-template-areas:
      "site-header site-header"
      "navigation content-header"
      "navigation content";

    max-width: 40ch;
    font-family: "Menlo";
  }

  .site-header {
    grid-area: site-header;
    justify-self: center;
  }
  .navigation {
    grid-area: navigation;
  }
  .content-header {
    grid-area: content-header;
  }
  .content {
    grid-area: content;
  }
</style>
