---
import Layout from "@layouts/Layout.astro";
---

<!-- 
Two main things to figure out.

1. The overall styling of the box. Because the point is that this will be consistent no matter the input you feed it.

2. The processing of the input. Because you need to be able to throw this thing anything and for it to handle it. This is your go-to component, the one and only, the thing that all boxes render their stuff in. *Other than first-few-pages exceptions.

But here, in this pen, don't worry about that processing part. Just assume that your processor works. What you do need to figure out is the structure and which classes your processor will create.

## Hanging indents

In the ASCII tree example, it'd be nice to be able to specify a hanging indent. Don't forget that you'll need to somehow feed this to the processor otherwise how would it know.

## So, for each line

### ACID

It can be an ACID, in which case we format it like one.

By default this means:

10-19 Area (b)
   11 Category (t:u)
      11.01 ID

And on mobile:

10-19 Area (b)
   11 Category (t:u)
   11.01 ID

Now, how to handle PRO.AC.ID?

Let's say we want to show:

P01 Johnny.Decimal (b, u)
    10-19 Area (b)
       11 Category (t:u)
          11.01 ID

The basic structure of JD there is the same, they're all just indented by some amount. Could that be an option you could pass?

-->
<Layout>
  <div class="JDBlock">
    <pre
      class="a">10-19 Admin is unlikely ever to be this long, but why not plan for it?</pre>
    <pre class="c">11 Core concepts, a long category name for Pete's sake</pre>
    <pre
      class="id">11.01 The home page, a longer ID name which is more probable</pre>
    <pre
      class="area">20-29 Something else that is quite long, because that's the whole point of this exercise after all is not to h-scroll</pre>

    <pre class="space"></pre>
    <hr />

    <pre>.</pre>
    <pre
      class="hanging-indent">&#x251C;&#x2500; _00 templates and important files</pre>
    <pre class="hanging-indent">&#x251C;&#x2500; 00 Important</pre>
    <pre
      class="hanging-indent">&#x251C;&#x2500; 01 Jim's temporary folder DO NOT MOVE</pre>
    <pre class="hanging-indent">&#x251C;&#x2500; Accounts</pre>
    <pre class="hanging-indent">&#x251C;&#x2500; Accounting</pre>
    <pre class="hanging-indent">&#x251C;&#x2500; Expenses</pre>
    <pre class="hanging-indent">&#x251C;&#x2500; Finance</pre>
    <pre class="hanging-indent">&#x251C;&#x2500; FINANCE 2023</pre>
    <pre class="hanging-indent">&#x251C;&#x2500; Group files</pre>
    <pre
      class="hanging-indent">&#x251C;&#x2500; H drive backups for Finance team</pre>
    <pre class="hanging-indent">&#x251C;&#x2500; Jim's 2023 finance backup</pre>
    <pre
      class="hanging-indent">&#x251C;&#x2500; Last year's accounts Jim copy of copy (2)</pre>
    <pre class="hanging-indent">&#x251C;&#x2500; ...</pre>
    <pre class="hanging-indent">&#x251C;&#x2500; x_archive old</pre>
    <pre class="hanging-indent">&#x2514;&#x2500; xx to be deleted</pre>
  </div>
</Layout>

<style lang="scss">
  @use "/src/styles/johnny" as *;

  .JDBlock {
    background-color: darkred;
    color: #eee;
    border: 1px solid darkred;

    margin: 1rem auto;
    padding: 1rem;

    width: fit-content;

    white-space: normal;

    & pre {
      background: #422;
      white-space: normal;
      margin: 0;

      font-family: $monospace;

      &.hanging-indent {
        padding-left: 3ch;
        text-indent: -3ch;
      }

      &.space {
        min-height: 1.5rem;
      }

      &.a {
        font-weight: bold;
      }

      &.c {
      }

      &.id {
      }
    }
  }
</style>
